<table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
  <tr>
    <!-- Position Column -->
    <ng-container matColumnDef="position">
      <th mat-header-cell *matHeaderCellDef> Position </th>
      <td mat-cell *matCellDef="let element"> {{element.position}} </td>
    </ng-container>

    <!-- Player Name Column -->
    <ng-container matColumnDef="playerName">
      <th mat-header-cell *matHeaderCellDef> Player Name </th>
      <td mat-cell *matCellDef="let element"> {{element.playerName}} </td>
    </ng-container>

    <!-- Games Played Column -->
    <ng-container matColumnDef="gamesPlayed">
      <th mat-header-cell *matHeaderCellDef> Games Played </th>
      <td mat-cell *matCellDef="let element"> {{element.gamesPlayed}} </td>
    </ng-container>



    <!-- Header Row -->
<thead>
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  </thead>

  <!-- Table Body -->
  <tbody>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </tbody>
  </tr>
</table>
