@use '@angular/material' as mat;

/* You can add global styles to this file, and also import other style files */

/* Provide sufficient contrast against white background */
/*a {
  color: #0366d6;
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

code {
  color: #e01a76;
}*/

:root {
  // primary
  --mab-primary-light: #FFFFFF;
  --mab-secondary-light: #E1E1E1;
  --mab-primary-text-light: #000000;
  --mab-background-color-light: var(--mab-primary-light);
  // secondary
  --mab-primary-dark: #1e99e5;
  --mab-secondary-dark: #525252;
  --mab-primary-text-dark: #000000;
  --mab-background-color-dark: var(--mab-primary-dark);
  // theme
  --primary-color: var(--mab-primary-light);
  --secondary-color: var(--mab-secondary-light);
  --background-color: var(--mab-background-color-light);
  --text-color: var(--mab-primary-text-light);
  --border-color: var(--mab-secondary-light);
  // sizing
  --card-max-width: 453px;
  --card-width: 90%;
  --card-padding: 16px;
  --card-border-radius: 12px;
  --card-border: 1px solid var(--border-color);
  --card-margin: 30px auto 0 20px;
}

/* Alternative Mode */
.dark-theme {
  --primary-color: var(--mab-primary-dark);
  --secondary-color: var(--mab-secondary-dark);
  --background-color: var(--mab-background-color-dark);
  --text-color: var(--mab-primary-text-dark);
  --border-color: var(--mab-secondary-dark);
}

/*.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}*/
